[init]
    defaultBranch = main
[user]
    name = Junji
    email = j7nj1.t41@gmail.com
[core]
    editor = nvim
    autocrlf = input
    safecrlf = true
    pager = delta
[difftool]
    prompt = false
[delta]
    syntax-theme = gruvbox-dark
    side-by-side = true
    line-numbers = false
    dark = true
