[init]
    defaultBranch = main
[user]
    name = Junji
    email = j7nj1.t41@gmail.com
[core]
    editor = nvim
    autocrlf = input
    safecrlf = true
    pager = delta
    excludesfile = ~/dotfiles/git/.gitignore_global
[push]
    default = simple
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[delta]
    syntax-theme = gruvbox-dark
    side-by-side = true
    line-numbers = false
    dark = true
[commit]
    template = ~/dotfiles/git/.gitmessage.txt
[alias]
    c = commit
    ch = checkout
    s = status -s
    ch = checkout
    br = branch
    p = push
    track = status -sb
    unstage = restore --staged
    last = log -1 HEAD
    t = log --oneline --decorate --graph --all
